Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60678/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60678/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60678/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Storefile_InputMessage">
    <wsdl:part name="parameters" element="tns:Storefile" />
  </wsdl:message>
  <wsdl:message name="IService1_Storefile_OutputMessage">
    <wsdl:part name="parameters" element="tns:StorefileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_checkForAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:checkForAccount" />
  </wsdl:message>
  <wsdl:message name="IService1_checkForAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkForAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadCacheFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadCacheFile" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadCacheFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadCacheFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAccountPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountPassword" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAccountPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_writeReciept_InputMessage">
    <wsdl:part name="parameters" element="tns:writeReciept" />
  </wsdl:message>
  <wsdl:message name="IService1_writeReciept_OutputMessage">
    <wsdl:part name="parameters" element="tns:writeRecieptResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRecieptList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecieptList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRecieptList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecieptListResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Storefile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Storefile" message="tns:IService1_Storefile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StorefileResponse" message="tns:IService1_Storefile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkForAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/checkForAccount" message="tns:IService1_checkForAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/checkForAccountResponse" message="tns:IService1_checkForAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadCacheFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UploadCacheFile" message="tns:IService1_UploadCacheFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UploadCacheFileResponse" message="tns:IService1_UploadCacheFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateAccount" message="tns:IService1_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateAccountResponse" message="tns:IService1_CreateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAccountPassword" message="tns:IService1_GetAccountPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAccountPasswordResponse" message="tns:IService1_GetAccountPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="writeReciept">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/writeReciept" message="tns:IService1_writeReciept_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/writeRecieptResponse" message="tns:IService1_writeReciept_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecieptList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRecieptList" message="tns:IService1_GetRecieptList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRecieptListResponse" message="tns:IService1_GetRecieptList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Storefile">
      <soap:operation soapAction="http://tempuri.org/IService1/Storefile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkForAccount">
      <soap:operation soapAction="http://tempuri.org/IService1/checkForAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadCacheFile">
      <soap:operation soapAction="http://tempuri.org/IService1/UploadCacheFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountPassword">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAccountPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="writeReciept">
      <soap:operation soapAction="http://tempuri.org/IService1/writeReciept" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecieptList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRecieptList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:60678/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>